@using System.Diagnostics
@{
    Locale locale = (Locale)ViewData["culture"];
    ViewData["Title"] = locale["Title_Health"];
    using var stream = typeof(Program).Assembly.GetManifestResourceStream("sltlang.changelog.html");
    using var reader = new StreamReader(stream!);
    var changelog = default(string);
    changelog = reader.ReadToEnd();
}
<h1>slt-lang</h1>
<span>@($"{locale["Health_DeployDT"]}: {File.GetLastWriteTime(typeof(Program).Assembly.Location)}")</span><br/>
<span>@($"{locale["Health_StartDT"]}: {Process.GetCurrentProcess().StartTime}")</span><br/>
<span>@($"{locale["Health_Version"]}: {typeof(Program).Assembly.GetName().Version!.ToString(3)}")</span><br/>
@Html.Raw(changelog)