<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/favicon.ico" />
    <link rel='stylesheet' type='text/css' media='screen' href='~/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/sltcode.css'>
</head>
<body>
    <header>
        <nav>
            <a href="~/"><img src="~/headlogo.png" alt="logo" /></a>
            <ul>
                <li>
                    <a href="~/">Главная</a>
                </li>
                <li>
                    <a href="~/ru/FAQ">FAQ</a>
                </li>
                <li>
                    <a href="~/ru/syntax">Синтаксис</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer>
        <div class="container">
            <span>slt-lang </span>
            @foreach (var x in Locale.Locales.Keys)
            {
                <a href="/@x">@x</a>
                <span> </span>
            }
        </div>
    </footer>
</body>
</html>